NODE_ENV=development
API_PORT=3001
API_HOST=localhost
# DEBUG=console.log
DEBUG=false
JWT_SECRET=whatisthissecret

# postgress
POSTGRES_HOST=postgres_db
FORWARD_DB_PORT=5432
DB_DATABASE=blogs-api
DB_USERNAME=root
DB_PASSWORD=password

# mailport
MAIL_PORT=1025
FORWARD_MAILHOG_DASHBOARD_PORT=8025
